a {
  text-decoration: none;
  display: inline-block;
}

#Efficiency .card {
  position: relative;
  z-index: 555;
  max-width: 15rem;
  min-height: 12rem;
  width: 90%;
  display: grid;
  position: relative;
  box-shadow: 1px 12px 25px rgba(0, 0, 0, 0.78);
  border-radius: 1rem;
}
#Efficiency .card::before {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: -1;
  border: 0.155rem solid transparent;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

#Efficiency .card-body {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.7em 1.25em 0.5em 1.5em;
}

#Efficiency .green {
  background: radial-gradient(
    ellipse at right top,
    #107667ed 0%,
    #00110e 47%,
    #00110e 100%
  );
}
#Efficiency .green:before {
  background: linear-gradient(
      45deg,
      #00110e,
      #00110e,
      #00110e,
      #00110e,
      #01c3a8
    )
    border-box;
}
#Efficiency .green .btn-add {
  background: #01c3a8;
}

#Efficiency .green .btn-countdown:hover {
  background: #01c3a8;
}
#Efficiency .blue {
  background: radial-gradient(
    ellipse at right top,
    #00458f8f 0%,
    #00110e 45%,
    #00110e 100%
  );
}
#Efficiency .blue:before {
  background: linear-gradient(
      45deg,
      #00110e,
      #00110e,
      #00110e,
      #00110e,
      #1890ff
    )
    border-box;
}
#Efficiency .blue .btn-add {
  background: #1890ff;
}

#Efficiency .blue .btn-countdown:hover {
  background: #1890ff;
}
#Efficiency .orange {
  background: radial-gradient(
    ellipse at right top,
    #ffb74194 0%,
    #00110e 47%,
    #00110e 100%
  );
}
#Efficiency .orange:before {
  background: linear-gradient(
      45deg,
      #00110e,
      #00110e,
      #00110e,
      #00110e,
      #ffb741
    )
    border-box;
}
#Efficiency .orange .btn-add {
  background: #ffb741;
}

#Efficiency .orange .btn-countdown:hover {
  background: #ffb741;
}
#Efficiency .red {
  background: radial-gradient(
    ellipse at right top,
    #a63d2a82 0%,
    #00110e 47%,
    #00110e 100%
  );
}
#Efficiency .red:before {
  background: linear-gradient(
      45deg,
      #00110e,
      #00110e,
      #00110e,
      #00110e,
      #a63d2a
    )
    border-box;
}
#Efficiency .red .btn-add {
  background: #a63d2a;
}

#Efficiency .red .btn-countdown:hover {
  background: #a63d2a;
}
