:root {
  --bg: #3c465c;
  --primary: #78ffcd;
  --solid: #fff;
  --btn-w: 267px;
  --dot-w: calc(var(--btn-w) * 0.2);
  --tr-X: calc(var(--btn-w) - var(--dot-w));
}

.btn-primary {
  position: relative;
  width: var(--btn-w);
  color: var(--primary);
  border: 0.15em solid var(--primary);
  border-radius: 1em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  line-height: 67px;
  cursor: pointer;
  height: 67px;
}

.btn-primary .dot {
  content: "";
  position: absolute;
  top: 0;
  width: var(--dot-w);
  height: 100%;
  border-radius: 100%;
  transition: all 300ms ease;
  display: none;
}

.btn-primary .dot:after {
  content: "";
  position: absolute;
  left: calc(50% - 0.4em);
  top: -0.4em;
  height: 0.8em;
  width: 0.8em;
  background: var(--primary);
  border-radius: 1em;
  border: 0.25em solid var(--solid);
  box-shadow: 0 0 0.7em var(--solid), 0 0 2em var(--primary);
}

.btn-primary .dot,
.btn-primary:focus .dot {
  -webkit-animation: atom 2s infinite linear;
  animation: atom 2s infinite linear;
  display: block;
}
@-webkit-keyframes atom {
  0% {
    transform: translateX(0) rotate(0);
  }
  30% {
    transform: translateX(var(--tr-X)) rotate(0);
  }
  50% {
    transform: translateX(var(--tr-X)) rotate(180deg);
  }
  80% {
    transform: translateX(0) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
@keyframes atom {
  0% {
    transform: translateX(0) rotate(0);
  }
  30% {
    transform: translateX(var(--tr-X)) rotate(0);
  }
  50% {
    transform: translateX(var(--tr-X)) rotate(180deg);
  }
  80% {
    transform: translateX(0) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

.btn-primary:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
