.hero-box-shadow {
  box-shadow: 0 0 20px #00ff88;
}

.background-text {
  content: "Smart Decisions";
  position: absolute;
  transform: translate(50%, 0%);
  font-size: 4em;
  font-weight: 700;
  color: #00211c;
  -webkit-text-stroke: 1px #555;
  opacity: 0.3;
  pointer-events: none;
  white-space: nowrap;
  right: 50%;
  bottom: 0;
}
