.sticky-background {
  top: 0; /* or any offset from the top */
  background-image: url("/public//images//our-dna/DNA.png"); /* Replace with your image path */
  background-size: cover; /* Cover the entire div */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  min-height: 100vh; /* Set a height for the div */
  z-index: -1; /* Optional: keeps it above other elements */
  padding-top: 130px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.euklydia-dna {
  padding-top: 111px;
}

.euklydia-dna-img-container {
  position: relative;
}

.euklydia-dna-card {
  position: absolute;
  background: linear-gradient(180deg, #5fffe8 0%, #39998b 100%);
  display: flex;
  align-items: center;
  height: 96px;
  color: rgba(0, 76, 74, 1);
  bottom: 24px;
  right: -30px;
  flex-direction: column;
  min-width: 168px;
  justify-content: center;
  animation: wiggleRight 2s infinite ease-in-out;
}

.euklydia-dna-card .expert {
  position: relative;
  top: -16px;
  font-size: 14px;
  color: rgba(0, 76, 74, 1);
}

@keyframes wiggleRight {
  0%,
  100% {
    right: -30px;
  }
  50% {
    right: 16px;
  }
}

.dna-card {
  background: linear-gradient(359.81deg, #004c4a 0.16%, #39998b 99.84%);
  transition: opacity 0.3s;
  min-height: 373px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dna-card .dna-card-title {
  color: white;
  font-size: 24px;
  font-weight: 900;
  position: relative;
  top: 12px;
}

.dna-card .dna-card-description {
  font-size: 15px;
  color: white;
  max-width: 298px;
  text-align: justify;
}

.dna-card.active {
  background: rgba(28, 176, 160, 1);
}

.dna-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  background: rgba(28, 176, 160, 1);
  z-index: -1;
  transition: all 0.3s ease-in-out;
  bottom: 0;
  left: 0;
  right: 0;
}

.dna-card:hover::before {
  height: 100%;
}

.dna-card:hover .dna-card-title,
.dna-card.active .dna-card-title {
  color: rgba(0, 76, 74, 1);
}

.dna-card.active:hover,
.dna-card:hover {
  background: transparent;
}

.dna-card.active:hover::before {
  background: linear-gradient(359.81deg, #004c4a 0.16%, #39998b 99.84%);
}

.dna-card.active:hover .dna-card-title {
  color: white;
}

.swiper-button-next,
.swiper-button-prev {
  left: 50%;
  background-color: rgba(0, 76, 74, 1);
  padding: 20px;
  border-radius: 50%;
  color: white;
}

.swiper-button-prev {
  left: 380px;
}

.swiper-button-next {
  left: 780px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 22px !important;
}

.dna-success-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-bottom: 16px;
}

.dna-success-container span {
  font-size: 24px;
  color: rgba(95, 255, 232, 1);
}

.dna-container {
  max-width: 1200px;
  margin: auto;
}
