.parallax-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 50px 0;
}

.parallax-title {
  font-size: 4em;
  margin-bottom: 20px;
  color: white;
  white-space: nowrap; /* Prevent title from breaking into new lines */
}

.parallax-container {
  position: relative;
  width: 80%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.parallax-img {
  position: relative;
  width: 60%;
  height: 400px;
  overflow: hidden;
}

.parallax-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parallax-content {
  width: 60%;
  padding: 20px;
  border-radius: 10px;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
}

.parallax-section .background-text {
  font-size: 12em;
  bottom: -2.5rem;
}

/* Apply to the container of the text */

.text-cloud-container::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 135%;
  background: #43ddaa;
  filter: blur(49px);
  z-index: -1;
  border-radius: 50%;
  opacity: 0.5;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
